@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 16%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 16%;
    --popover-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    --primary: 241 100% 72%;
    --primary-foreground: 210 40% 98%;
    --primary-gradient: 241 100% 72%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 9%;
    --secondary-focus: 0 0% 90%;
    --muted: 0 0% 87%;
    --muted-foreground: 0 0% 54%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 9%;
    --destructive: 345 87% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 92%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --editor-primary: 241 100% 72%;
    --editor-accent: 258 100% 66%;
}

.dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 17%;
    --popover-foreground: 0 0% 98%;
    --popover-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    --primary: 241 100% 72%;
    --primary-foreground: 210 40% 98%;
    --primary-gradient: 241 100% 72%;
    --secondary: 0 0% 17%;
    --secondary-foreground: 0 0% 98%;
    --secondary-focus: 0 0% 13%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 33%;
    --accent-foreground: 0 0% 98%;
    --destructive: 345 87% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --editor-accent: 260 99% 70%;
}

.landing-theme {
    --background: 0 0% 0%;
    --foreground: 270 100% 100%;
    --card: 0 0% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 241 100% 72%;
    --primary-foreground: 210 40% 98%;
    --primary-gradient: 242 100% 80%;
    --secondary: 0 0% 13%;
    --secondary-foreground: 210 40% 98%;
    --secondary-focus: 0 0% 10%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 60%;
    --accent: 270 100% 100%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 13%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --gradient: 241 100% 72%;
    --gradient-secondary: 242 100% 80%;
    --radius: 1rem;
}
body {
    --font-geist-sans: "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-heading: "__Instrumental", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background: hsl(var(--background));
}

@font-face {
    font-family: "Geist";
    font-weight: 100 900;
    src: url("/fonts/geist.woff2") format("woff2");
}

@font-face {
    font-family: "__Instrumental";
    src: url("/fonts/8de40de8211748f7-s.p.woff2") format("woff2");
    font-style: normal;
    font-weight: 400 700;
    font-stretch: 100%;
    font-display: swap;
}

.font-sans {
    font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.video-3d-container {
    /* perspective function in transform property */
    /* transform: perspective(1200px) rotateX(30deg) scaleX(0.8) scaleY(0.8); */
    transform-origin: top center;
    box-shadow: 0 0 0 8px hsl(var(--primary) / 0.3);
}
